ion-img {
  width: 150px;

  &.pointer {
    cursor: pointer;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
  }

  .left {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 900px) {
    nav {
      display: none;
    }

    justify-content: space-between;
  }
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  user-select: none;

  color: black;
  text-decoration: none;
}

.rounded-rectangle {
  width: 120px;
  height: 48px;
  border-radius: 10px;
}
