<ion-app>
  <!-- MENU -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-img src="../assets/Logo_00_Termed_Logo_Blau.png"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>Suche</p>
      <p>Anmeldung</p>
      <br>
      <p>Meine Medikamente</p>
      <p>Faq</p>
      <p>Kontakt</p>
      <p>Über uns</p>
      <br>
      <p>Sprache</p>
      <p>Impressum</p>
      <p>Datenschutz
      </p>
      <p>AGB</p>
      <p>Version</p>
    </ion-content>
  </ion-menu>
  <!-- MENU -->

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="container">
          <div class="left">
            <ion-buttons>
              <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <ion-img class="pointer" routerLink="/" src="../assets/Logo_00_Termed_Logo_Blau.png"></ion-img>
          </div>

          <nav>
            <a routerLink="/products" class="ion-activatable ripple-parent rounded-rectangle">
              Produkte
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a routerLink="/about" class="ion-activatable ripple-parent rounded-rectangle">
              Über uns
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a routerLink="/career" class="ion-activatable ripple-parent rounded-rectangle">
              Karriere
              <ion-ripple-effect></ion-ripple-effect>
            </a>
            <a routerLink="/kontact" class="ion-activatable ripple-parent rounded-rectangle">
              Kontakt
              <ion-ripple-effect></ion-ripple-effect>
            </a>
          </nav>

          <ion-buttons>
            <ion-button>Patient</ion-button>
            <ion-button>Praxis</ion-button>
          </ion-buttons>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>