<ion-content [fullscreen]="true">
  <section class="bgp ion-padding">
    <div class="content-layout">
      <div>
        <h1 class="blue-text">Gesundheit neu definiert.</h1>
        <h1 class="green-text">Alles in einer Anwendung.</h1>

        <p class="blue-text">Einfache Online-Terminbuchung, ortsunabhängige Videosprechstunden und Entlastung der
          Arztpraxen durch
          Übernahme
          der Patientenanrufe. Ideal für Patienten, die schnell und unkompliziert den passenden Arzt finden möchten,
          sowie
          für Ärzte, die Ihre Praxis digital ausrichten und dabei ihr Praxisteam entlasten wollen.</p>
      </div>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="blue-text bold title-margin">
            Arzt Finden
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item lines="none">
            <ion-icon class="md icon-large hydrated" name="bag-add-outline" size="large"></ion-icon>
            <ion-searchbar [debounce]="225" (ionInput)="handleSearchInput($event)" showClearButton="focus"
              placeholder="Suche nach Namen"></ion-searchbar>
          </ion-item>

          <!-- doctors -->
          @for (result of searchResultsDocs(); track result.id) {
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-button class="query-button" fill="clear">{{result.anr + " " + result.title + " " + result.name + "
                  "
                  + result.surname}}</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
          }


          <!-- specialty -->
          <ion-list lines="none">
            <ion-item>
              <h6>Fachrichtung</h6>
            </ion-item>

            <ion-item>
              @for (result of searchResultsSpecs(); track result.id) {
              <ion-col>
                <ion-row>
                  <ion-col>
                    <ion-button class="query-button" fill="clear">{{result.title}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
              }

            </ion-item>

            <ion-item>
              <ion-button expand="block" (click)="setOpen(true)" class="show-all" fill="outline" color="secondary">
                Alle Anzeigen
                <ion-icon slot="start" name="menu-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>


        </ion-card-content>
      </ion-card>

      <div class="info-boxes-container">
        <ion-row>
          <ion-col>
            <ion-card class="blue-text">
              <ion-card-header>
                <ion-img src="../../../assets/info-boxes/Connect_Icon.ico"></ion-img>
                <ion-card-title>TerMed Hotline</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Unsere geschulten MFAs unterstützen Praxen durch die Übernahme der Patientenanrufe. Ihre MFAs
                  haben so mehr Zeit für die Patienten vor Ort.</p>
                <ion-button fill="clear">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="blue-text">
              <ion-card-header>
                <ion-img src="../../../assets/info-boxes/Access_Icon.ico"></ion-img>
                <ion-card-title>VIOMEDI</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Ermöglicht Patienten direkten und persönlichen Kontakt zu Ärzten über sichere Videoverbindungen.
                </p>
                <ion-button fill="clear">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="blue-text">
              <ion-card-header>
                <ion-img src="../../../assets/info-boxes/Reserve_Icon.ico"></ion-img>
                <ion-card-title>TerMed Termine</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Arzttermine bequem und schnell online vereinbaren – jederzeit und überall. Ideal für Patienten,
                  mehr Effizienz für Praxen.</p>
                <ion-button fill="clear">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </section>

  <!-- MODAL - "Show All" -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Suchen
              <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <h1>Fachrichtungen</h1>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>