<ion-content [fullscreen]="true">
  <section>
    <div>
      <h1>Gesundheit neu definiert.</h1>
      <h1>Alles in einer Anwendung.</h1>

      <p>Einfache Online-Terminbuchung, ortsunabhängige Videosprechstunden und Entlastung der Arztpraxen durch Übernahme
        der Patientenanrufe. Ideal für Patienten, die schnell und unkompliziert den passenden Arzt finden möchten, sowie
        für Ärzte, die Ihre Praxis digital ausrichten und dabei ihr Praxisteam entlasten wollen.</p>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Arzt Finden
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-icon class="md icon-large hydrated" name="bag-add-outline" size="large" role="img"></ion-icon>
          <ion-searchbar showClearButton="focus" placeholder="Suche nach Namen"></ion-searchbar>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>