section {
  &.bgp {
    background-image: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgba(200, 200, 200, 0.8)
      ),
      url("../../../assets/background/TerMed_Header_Startseite.png");
    background-size: cover;
    background-position: center;
    text-align: left;

    .greeting {
      padding: 20px;

      h1 {
        font-size: 65px;
        font-weight: bold;
      }

      h1:nth-child(1) {
        margin: 60px 0 0 0;
      }

      h1:nth-child(2) {
        margin-top: 0;

        background: linear-gradient(90deg, #a0e17d, #368b2b);
        background-clip: border-box;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        margin: 16px 0 60px 0;
        max-width: 80%;
      }
    }
  }
}

ion-searchbar::ng-deep {
  ion-icon {
    display: none;
  }
}

ion-card-title {
  &.bold {
    font-size: 35px;
    font-weight: bold;
  }

  &.title-margin {
    margin: 16px 0 10px 0;
  }
}

ion-button {
  &.show-all {
    --padding-top: 8px;
    --padding-start: 15px;
    --padding-bottom: 8px;
    --padding-end: 15px;
  }

  &.query-button {
    --background: #e1ecff;
    --border-radius: 15px;
    --padding-start: 16px;
    --padding-end: 16px;
    height: 48px;
    font-size: 13px;
    color: black;
  }
}

.info-boxes-container {
  ion-card {
    min-height: 320px;
    padding: 20px;

    ion-img {
      width: 50px;
      height: 50px;
      margin-bottom: 1rem;
    }

    ion-card-title {
      font-size: 16px;
    }

    ion-card-content {
      display: flex;
      align-items: end;
    }
  }
}

ion-modal {
  --width: 100%;
  --height: 100%;

  ion-header {
    --background: #fff;
  }

  ion-card {
    height: 100%;
  }

  ion-toolbar {
    --background: var(--main-blue);
    color: white;
  }

  h2 {
    font-weight: 700;
    font-size: 55px;
    color: rgb(115, 115, 115);
  }

  ion-card {
    ion-button {
      --background: #e1ecff;
      --padding-top: 4px;
      --padding-bottom: 4px;
      --padding-start: 15px;
      --padding-end: 15px;
      color: black;
      --border-radius: 16px;
    }
  }
}
